/* Alternative box model */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Reset spacing */
* {
  margin: 0;
  padding: 0;
  border: none;
}

/* Custom CSS variable */
:root {
  /* colors */
  --grey-900: #141414;
  --grey-800: #1f1f1f;
  --grey-700: #333333;
  --white: #ffffff;
  --green: #c4f82a;
}
