/* Alternative box model */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Reset spacing */
* {
  margin: 0;
  padding: 0;
  border: none;
}

/* Custom CSS variable */
:root {
  /* colors */
  --grey-900: #141414;
  --grey-800: #1f1f1f;
  --grey-700: #333333;
  --white: #ffffff;
  --green: #c4f82a;

  /* spacing */
  --space-500: 40px;
  --space-300: 24px;
  --space-200: 16px;
  --space-150: 12px;
  --space-100: 8px;
  --space-50: 4px;

  /* font-size */
  --text-preset-1: 24px;
  --text-preset-2: 14px;
}

/* Custom Fonts */
@font-face {
  font-family: "interBold";
  src: url("./../assets/fonts/static/Inter-Bold.ttf");
}

@font-face {
  font-family: "interRegular";
  src: url("./../assets/fonts/static/Inter-Regular.ttf");
}

/* body */
body {
  background-color: var(--grey-900);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: var(--space-300);
}

/* social-links card */
.links-card {
  background-color: var(--grey-800);
  padding: var(--space-500);
  border-radius: 12px;
  max-width: 384px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-300);
}

.links-card > img {
  border-radius: 50%;
}

/* name & location */
.name-location .name {
  font-family: interBold, sans-serif;
  font-size: var(--text-preset-1);
  line-height: 150%;
  letter-spacing: 0;
  text-align: center;
  color: var(--white);

  margin-bottom: var(--space-50);
}

.name-location .location {
  font-family: "interBold", sans-serif;
  font-size: var(--text-preset-2);
  line-height: 150%;
  letter-spacing: 0;
  text-align: center;
  color: var(--green);
  font-style: normal;
}

/* Bio */
.links-card .bio {
  font-family: "interRegular", sans-serif;
  font-size: var(--text-preset-2);
  line-height: 150%;
  letter-spacing: 0;
  color: var(--white);
}

/* social links */
.links-card .social-links {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: var(--space-200);
}

.social-links a {
  text-decoration: none;
}

.social-links button {
  cursor: pointer;
  width: 100%;
  padding-block: var(--space-150);
  border-radius: 12px;
  background-color: var(--grey-700);
  font-family: "interBold", sans-serif;
  font-size: var(--text-preset-2);
  color: var(--white);
}

.social-links button:hover {
  background-color: var(--green);
  color: var(--grey-700);
}

/* for narrow screens */

/* I added precisely so that the transition only happen for narrow screens
The problem I had is that when I declare the transition in "global .links-card"
one the page opens the first time, the transition happens, which not desirable.

And if I added only in the screens that has `max-width: 375px`, if you used an
responsive width, once you go from outside that interval (> 375px) and you reach
that (=< 375px) or less, that transition appears as expected, but if you go from that
interval [0px, 375px] to outside (>375px), an instant change happen, meaning the
transition isn't working as I would,

That's why I added that transition in 400px, I choose it arbitrary, but the important
is that it is greater than `375px`, and less than most `vw` of wide screens, meaning when
you first open this page, you won't see padding applied gradually.
*/
@media screen and (max-width: 400px) {
  .links-card {
    transition: padding 1s ease;
  }
}
@media screen and (max-width: 375px) {
  .links-card {
    padding: var(--space-300);
  }
}

/* footer */
footer {
  margin-bottom: var(--space-200);
}

.attribution,
.attribution * {
  font-family: "interRegular", sans-serif;
  font-size: var(--text-preset-2);
  color: var(--white);
}

.attribution a {
  color: var(--white);
  text-decoration: none;
  border-bottom: 1px solid var(--green);
}
.attribution a:hover {
  color: var(--green);
}
