/* Alternative box model */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Reset spacing */
* {
  margin: 0;
  padding: 0;
  border: none;
}

/* Custom CSS variable */
:root {
  /* colors */
  --grey-900: #141414;
  --grey-800: #1f1f1f;
  --grey-700: #333333;
  --white: #ffffff;
  --green: #c4f82a;

  /* spacing */
  --space-500: 40px;
  --space-300: 24px;
  --space-200: 16px;
  --space-150: 12px;
  --space-100: 8px;
  --space-50: 4px;

  /* font-size */
  --text-preset-1: 24px;
  --text-preset-2: 14px;
}
