/* Alternative box model */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Reset spacing */
* {
  margin: 0;
  padding: 0;
  border: none;
}

/* Custom CSS variable */
:root {
  /* colors */
  --grey-900: #141414;
  --grey-800: #1f1f1f;
  --grey-700: #333333;
  --white: #ffffff;
  --green: #c4f82a;

  /* spacing */
  --space-500: 40px;
  --space-300: 24px;
  --space-200: 16px;
  --space-150: 12px;
  --space-100: 8px;
  --space-50: 4px;

  /* font-size */
  --text-preset-1: 24px;
  --text-preset-2: 14px;
}

/* Custom Fonts */
@font-face {
  font-family: "interBold";
  src: url("./../assets/fonts/static/Inter-Bold.ttf");
}

@font-face {
  font-family: "interRegular";
  src: url("./../assets/fonts/static/Inter-Regular.ttf");
}

/* body */
body {
  background-color: var(--grey-900);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* social-links card */
.links-card {
  background-color: var(--grey-800);
  padding: var(--space-500);
  border-radius: 12px;
  max-width: 384px;
}
